/*====COLORS=======*/
/*=====FONTS=======*/
@import url("https://fonts.googleapis.com/css?family=Heebo:100,300,400,500,700,800,900");
.spacer {
  height: 30px;
}

body {
  font-size: 16px;
  font-family: 'Heebo', sans-serif;
}

@media only screen and (max-width: 768px) {
  body {
    font-size: 18px;
  }
}

header {
  background: -webkit-gradient(linear, left bottom, right top, from(#2b3690), to(#0e183b));
  background: linear-gradient(to top right, #2b3690, #0e183b);
}

header .top-header {
  background: inherit;
}

header .top-header .navbar-brand {
  font-size: 24px;
}

header .top-header .navbar-brand i {
  font-weight: 600;
}

header .top-header .navbar-dark .navbar-nav .nav-link {
  margin: 0 15px;
}

@media only screen and (max-width: 992px) {
  header .top-header .navbar-dark .navbar-nav .nav-link {
    margin: 0 6px;
  }
}

header .top-header .navbar-dark .navbar-toggler-icon {
  background-image: url("../img/logo-navbar-brand.png");
}

.piroTech-brand {
  color: #fff;
  font-weight: 600;
}

.piroTech-brand-2 {
  color: #1d3179;
  font-weight: 600;
}

section .heading {
  background-color: #0e183b;
  margin: 30px 0;
}

section h2 {
  background-color: #0e183b;
  color: #fff;
  padding: 15px;
}

#section1 {
  margin-top: 30px;
  padding: 0;
}

@media only screen and (max-width: 992px) {
  #section1-intro {
    padding: 30px 0px;
  }
}

@media only screen and (max-width: 768px) {
  #section1-intro {
    padding: 0;
  }
}

#section1-intro h5 {
  color: #fff;
}

@media only screen and (max-width: 992px) {
  #section1-intro h5 {
    margin-bottom: 4px;
  }
}

#section1-intro .carousel-item {
  text-align: center;
}

#section1-intro .carousel-item .intro-bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-repeat: no-repeat;
  background-size: 100%;
  z-index: 0;
  -webkit-filter: blur(5px);
          filter: blur(5px);
}

@media only screen and (max-width: 992px) {
  #section1-intro .carousel-item .intro-bg {
    height: 0;
    width: 0;
    display: none;
  }
}

#section1-intro .carousel-item img {
  position: relative;
  z-index: 2;
}

@media only screen and (max-width: 768px) {
  #section1-intro .carousel-item img {
    width: 100%;
  }
}

#section1-intro .carousel-item .intro {
  position: relative;
  z-index: 2;
  padding: 30px;
  background-color: rgba(10, 23, 45, 0.5);
}

#section1-intro .carousel-item .intro h3 {
  color: #ef4156;
  text-transform: uppercase;
}

#section2 {
  padding: 0;
}

#section2 .features {
  padding: 0 30px;
}

#section3 {
  padding: 0;
}

#section3 h3 {
  background-color: #0e183b;
  color: #fff;
  padding: 15px;
  text-align: right;
}

#section3 .product {
  margin-top: 15px;
  margin-bottom: 15px;
}

#section3 .scope-of-application {
  padding: 0 30px;
}

@media only screen and (max-width: 1200px) {
  #section3 .scope-of-application {
    padding: 0;
  }
}

#section3 .diagram {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 15px;
}

#section3 .diagram .square {
  width: 10vw;
  height: 17vh;
  background-color: #0e183b;
  color: #fff;
  text-align: center;
  margin-right: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 1200px) {
  #section3 .diagram .square {
    height: 15vh;
  }
}

@media only screen and (max-width: 992px) {
  #section3 .diagram .square {
    height: 12vh;
  }
}

@media only screen and (max-width: 768px) {
  #section3 .diagram .square {
    width: 24vw;
    height: 12vh;
  }
}

#section3 .diagram .square p {
  font-size: 24px;
  padding: 0;
  margin: 0;
}

#section3 .diagram .details {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  color: #5b5b59;
  padding: 10px 0 10px 15px;
  border-bottom: 1px solid #5b5b59;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#section3 .diagram .details p.top {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 20px;
  padding: 0;
}

#section3 .diagram .details p.bottom {
  width: 100%;
  font-size: 20px;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

#section3 .patch {
  width: 10vw;
  height: 17vh;
  background-color: #0e183b;
  color: #fff;
  text-align: center;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 768px) {
  #section3 .patch {
    width: 20vw;
  }
}

@media only screen and (max-width: 576px) {
  #section3 .patch {
    width: 30vw;
  }
}

#section3 .patch p.top {
  font-size: 24px;
  padding: 0;
  margin: 0;
}

#section3 .patch p.bottom {
  font-size: 12px;
}

@media only screen and (max-width: 768px) {
  #section3 .patch p.bottom {
    font-size: 18px;
  }
}

@media only screen and (max-width: 768px) {
  #section3 .img-group {
    display: none;
  }
}

#section3 .img-patch {
  text-align: center;
}

#section3 .img-patch img {
  width: 10vw;
}

#section3 .patches-maxi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#section3 .patches-maxi .patch {
  width: 10vw;
  height: 17vh;
  background-color: #0e183b;
  color: #fff;
  text-align: center;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 768px) {
  #section3 .patches-maxi .patch {
    width: 20vw;
  }
}

@media only screen and (max-width: 576px) {
  #section3 .patches-maxi .patch {
    width: 30vw;
  }
}

#section3 .patches-maxi .patch p.top {
  font-size: 24px;
  padding: 0;
  margin: 0;
}

#section3 .patches-maxi .patch p.bottom {
  font-size: 12px;
}

@media only screen and (max-width: 768px) {
  #section3 .patches-maxi .patch p.bottom {
    font-size: 18px;
  }
}

#section4 table thead {
  background-color: #0e183b;
  color: #fff;
}

footer {
  background: -webkit-gradient(linear, left bottom, right top, from(#2b3690), to(#0a172d));
  background: linear-gradient(to top right, #2b3690, #0a172d);
  color: #fff;
}

@media only screen and (max-width: 576px) {
  footer {
    text-align: center;
    padding-bottom: 30px;
  }
}

footer .logo {
  height: 350px;
  background-image: url("../img/logo_2.png");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: left center;
}

footer .top-footer {
  padding-top: 60px;
}

@media only screen and (max-width: 576px) {
  footer .top-footer {
    padding-top: 24px;
  }
}

@media only screen and (max-width: 768px) {
  footer .top-footer {
    padding-top: 24px;
  }
}

@media only screen and (max-width: 1200px) {
  footer .top-footer {
    padding-top: 44px;
  }
}

footer .mid-footer {
  padding-top: 50px;
}

@media only screen and (max-width: 1200px) {
  footer .mid-footer {
    padding-top: 34px;
  }
}

@media only screen and (max-width: 768px) {
  footer .mid-footer {
    padding-top: 12px;
  }
}

@media only screen and (max-width: 576px) {
  footer .mid-footer {
    padding-top: 12px;
  }
}

footer .mid-footer .contact-details {
  padding: 12px 0;
}

footer .mid-footer .contact-details a {
  display: inline-block;
}

footer .bottom-footer {
  padding-top: 50px;
}

@media only screen and (max-width: 1200px) {
  footer .bottom-footer {
    padding-top: 34px;
  }
}

@media only screen and (max-width: 768px) {
  footer .bottom-footer {
    padding-top: 24px;
  }
}

@media only screen and (max-width: 576px) {
  footer .bottom-footer {
    padding-top: 12px;
  }
}

footer .bottom-footer .social-media ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

@media only screen and (max-width: 576px) {
  footer .bottom-footer .social-media ul {
    padding-left: 18px;
  }
}

footer .bottom-footer .social-media li {
  display: inline-block;
  margin-right: 12px;
}

footer .bottom-footer .social-media li a {
  -webkit-transition: all .8s ease-in;
  transition: all .8s ease-in;
}

footer .bottom-footer .social-media li a img {
  max-width: 44px;
}

@media only screen and (max-width: 576px) {
  footer .bottom-footer .social-media li a img {
    max-width: 38px;
  }
}

footer .bottom-footer .social-media li a:hover img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-filter: opacity(0.8);
          filter: opacity(0.8);
}

footer .bottom-footer .credentials {
  padding-top: 12px;
  font-size: 12px;
}

footer .bottom-footer .credentials ul {
  list-style: none;
}

footer .bottom-footer .credentials ul li {
  display: inline-block;
  margin-right: 12px;
}

footer a {
  color: #fff;
  text-decoration: none;
}

footer a:hover {
  color: #fdfdfd;
}

#ShowRoomDirections .modal-header, #credits .modal-header {
  background: -webkit-gradient(linear, left bottom, right top, from(#2b3690), to(#0e183b));
  background: linear-gradient(to top right, #2b3690, #0e183b);
  color: #fff;
}

#ShowRoomDirections .modal-header button.close span, #credits .modal-header button.close span {
  color: #fff;
}

#ShowRoomDirections .modal-body iframe, #credits .modal-body iframe {
  width: 100%;
}
/*# sourceMappingURL=pirotech-main.css.map */