/*====COLORS=======*/
/*=====FONTS=======*/
@import url("https://fonts.googleapis.com/css?family=Heebo:100,300,400,500,700,800,900");
body {
  font-size: 16px;
  font-family: 'Heebo', sans-serif;
}

header {
  background: -webkit-gradient(linear, left bottom, right top, from(#2b3690), to(#0a172d));
  background: linear-gradient(to top right, #2b3690, #0a172d);
}

header .top-header {
  background: inherit;
}

header .top-header .navbar-brand {
  font-size: 24px;
}

header .top-header .navbar-brand i {
  font-weight: 600;
}

header .top-header .navbar-dark .navbar-nav .nav-link {
  margin: 0 15px;
}

@media only screen and (max-width: 992px) {
  header .top-header .navbar-dark .navbar-nav .nav-link {
    margin: 0 6px;
  }
}

header .top-header .navbar-dark .navbar-toggler-icon {
  background-image: url("../img/logo-navbar-brand.png");
}

.piroTech-brand {
  color: #fff;
  font-weight: 600;
}

.intro {
  padding: 30px;
  background-color: rgba(10, 23, 45, 0.5);
}

@media only screen and (max-width: 992px) {
  .intro {
    padding: 30px 12px;
  }
}

.intro h5 {
  color: #fff;
}

@media only screen and (max-width: 992px) {
  .intro h5 {
    margin-bottom: 4px;
  }
}

.section1 {
  padding: 0;
}

footer {
  background: -webkit-gradient(linear, left bottom, right top, from(#2b3690), to(#0a172d));
  background: linear-gradient(to top right, #2b3690, #0a172d);
  color: #fff;
}

@media only screen and (max-width: 576px) {
  footer {
    text-align: center;
    padding-bottom: 30px;
  }
}

footer .logo {
  height: 350px;
  background-image: url("../img/logo_2.png");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: left center;
}

footer .top-footer {
  padding-top: 60px;
}

@media only screen and (max-width: 576px) {
  footer .top-footer {
    padding-top: 24px;
  }
}

@media only screen and (max-width: 768px) {
  footer .top-footer {
    padding-top: 24px;
  }
}

@media only screen and (max-width: 1200px) {
  footer .top-footer {
    padding-top: 44px;
  }
}

footer .mid-footer {
  padding-top: 50px;
}

@media only screen and (max-width: 1200px) {
  footer .mid-footer {
    padding-top: 34px;
  }
}

@media only screen and (max-width: 768px) {
  footer .mid-footer {
    padding-top: 12px;
  }
}

@media only screen and (max-width: 576px) {
  footer .mid-footer {
    padding-top: 12px;
  }
}

footer .mid-footer .contact-details {
  padding: 12px 0;
}

footer .mid-footer .contact-details a {
  display: inline-block;
}

footer .bottom-footer {
  padding-top: 50px;
}

@media only screen and (max-width: 1200px) {
  footer .bottom-footer {
    padding-top: 34px;
  }
}

@media only screen and (max-width: 768px) {
  footer .bottom-footer {
    padding-top: 24px;
  }
}

@media only screen and (max-width: 576px) {
  footer .bottom-footer {
    padding-top: 12px;
  }
}

footer .bottom-footer .social-media ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

@media only screen and (max-width: 576px) {
  footer .bottom-footer .social-media ul {
    padding-left: 18px;
  }
}

footer .bottom-footer .social-media li {
  display: inline-block;
  margin-right: 12px;
}

footer .bottom-footer .social-media li a img {
  max-width: 44px;
}

@media only screen and (max-width: 576px) {
  footer .bottom-footer .social-media li a img {
    max-width: 38px;
  }
}

footer .bottom-footer .credentials {
  padding-top: 12px;
  font-size: 12px;
}

footer .bottom-footer .credentials ul {
  list-style: none;
}

footer .bottom-footer .credentials ul li {
  display: inline-block;
  margin-right: 12px;
}

footer a {
  color: #fff;
  text-decoration: none;
}

footer a:hover {
  color: #fdfdfd;
}

#ShowRoomDirections .modal-header {
  background: -webkit-gradient(linear, left bottom, right top, from(#2b3690), to(#0a172d));
  background: linear-gradient(to top right, #2b3690, #0a172d);
  color: #fff;
}

#ShowRoomDirections .modal-header button.close span {
  color: #fff;
}

#ShowRoomDirections .modal-body iframe {
  width: 100%;
}
/*# sourceMappingURL=pirotech-main.css.map */