/*====COLORS=======*/
// $text-color: #;
// $theme-color: #;
// $secondary-color: #;
// $ternary-color: #;
// $link-color: #;
// $menu-item-color: #;
/*=====FONTS=======*/
$text-font: 'Alegreya Sans', Arial, sans-serif;
$headline-font: 'Titillium Web', Georgia, serif;
$danger: #ef4156;
$primary: rgba(14, 24, 59, 1);
$grey: rgba(91, 91, 89, 1);