@import "functions";
@import "variables";
@import "mixins";
@import url('https://fonts.googleapis.com/css?family=Heebo:100,300,400,500,700,800,900');

.spacer{
    height:30px;
}
body {
    font-size: 16px;
    font-family: 'Heebo', sans-serif;
}

header {
    background: linear-gradient(to top right, rgba(43, 54, 144, 1), rgba(14, 24, 59, 1));
    .top-header {
        background: inherit;
        .navbar-brand {
            font-size: 24px;
            i {
                font-weight: 600;
            }
        }
        .navbar-dark .navbar-nav .nav-link {
            margin: 0 15px;
            @include sm-screens {
                margin: 0 6px;
            }
        }
        .navbar-dark .navbar-toggler-icon {
            background-image: url('../img/logo-navbar-brand.png');
        }
    }
}

main {
    
}
.piroTech-brand{
    color: #fff;
    font-weight: 600;
}
.piroTech-brand-2{
    color: lighten($primary, 15%);
    font-weight: 600; 
}

section{
    
    .heading{
        background-color: rgba(14, 24, 59, 1);
        margin: 30px 0;
    }
    h2{
        background-color: rgba(14, 24, 59, 1);
        color: #fff;
        padding: 15px;
    }
}
#section1{
    margin-top: 30px;
    padding: 0;
    
}
#section1-intro{
    
    @include sm-screens{
        padding: 30px 12px; 
    }
    h5{
        color:  #fff;
        @include sm-screens{
            margin-bottom: 4px; 
        }
    }
    .carousel-item{
        text-align: center;
        .intro-bg{ 
            position: absolute;
            top: 0; bottom: 0; left:0; right: 0;
            background-repeat: no-repeat;
            background-size: 100%;
            z-index: 0;
            filter: blur(5px);
        }
        img{
            position:relative;
            z-index: 2;
        }
        .intro{
            position: relative;
            z-index: 2;
            padding: 30px;
            background-color: rgba(10,23,45, .5);
            h3{
                color: $danger;
                text-transform: uppercase;
            }
        }
    }
}

#section2{
    padding: 0;
    .features{
        padding: 0 30px;
    }
}
#section3{
    padding: 0; 
    h3{
        background-color: rgba(14, 24, 59, 1);
        color: #fff;
        padding: 15px;
        text-align: right; 
    } 
    .product{
        margin-top: 15px;
        margin-bottom: 15px;
        
    }
    .scope-of-application{
        padding: 0 30px;
    }
    .diagram{
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        margin-bottom: 15px;
        .square{
            width: 10vw;
            height: 17vh;
            background-color: $primary;
            color: #fff;
            text-align: center;
            margin-right: 5px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            p{
                font-size: 24px;
                padding: 0;
                margin: 0;
            }
        }
        .details{
            flex-grow: 2;
            color: $grey;
            padding: 10px 0 10px 15px;
            border-bottom: 1px solid $grey;
            display: flex;
            flex-direction: column; 
            justify-content: flex-end;
            align-items: flex-start;
            p.top{
                font-size: 18px;
                font-weight: 400;
                margin-bottom: 20px;
                padding: 0;
            }
            p.bottom{
                width: 100%;
                font-size: 20px;
                font-weight: 600;
                margin: 0;
                padding: 0;
                letter-spacing: 2px;
                word-spacing: 5px;
            }
        }
    }

    .patch{
        width: 10vw;
        height: 17vh;
        background-color: $primary;
        color: #fff;
        text-align: center;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        p.top{
            font-size: 24px;
            padding: 0;
            margin: 0;
        }
        p.bottom{
            font-size: 12px;
        }  
    }
    .img-patch{
        text-align: center;
        img{
            width: 10vw;
        }
    }
    .patches-maxi{
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        .patch{
            width: 10vw;
            height: 17vh;
            background-color: $primary;
            color: #fff;
            text-align: center;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            p.top{
                font-size: 24px;
                padding: 0;
                margin: 0;
            }
            p.bottom{
                font-size: 12px;
            } 
        }
    }

}
#section4{
    table{
        thead{
            background-color: $primary;
            color: #fff;
        }
    }
}

footer {
    background: linear-gradient(to top right, rgba(43, 54, 144, 1), rgba(10, 23, 45, 1));
    color: #fff;
    @include small-xs-screens {
        text-align: center;
        padding-bottom: 30px;
    }
    .logo {
        height: 350px;
        background-image: url('../img/logo_2.png');
        background-repeat: no-repeat;
        background-size: 50%;
        background-position: left center;
    }
    .top-footer {
        padding-top: 60px;
        @include small-xs-screens {
            padding-top: 24px;
        }
        @include xs-screens {
            padding-top: 24px;
        }
        @include md-screens {
            padding-top: 44px;
        }
    }
    .mid-footer {
        padding-top: 50px;
        @include md-screens {
            padding-top: 34px;
        }
        @include xs-screens {
            padding-top: 12px;
        }
        @include small-xs-screens {
            padding-top: 12px;
        }
        .contact-details {
            a {
                display: inline-block;
            }
            padding: 12px 0;
        }
    }
    .bottom-footer {
        padding-top: 50px;
        @include md-screens {
            padding-top: 34px;
        }
        @include xs-screens {
            padding-top: 24px;
        }
        @include small-xs-screens {
            padding-top: 12px;
        }
        .social-media {
            ul {
                list-style: none;
                padding: 0;
                margin: 0;
                @include small-xs-screens {
                    padding-left: 18px;
                }
            }
            li {
                display: inline-block;
                margin-right: 12px;
                a {
                    img {
                        max-width: 44px;
                        @include small-xs-screens {
                            max-width: 38px;
                        }
                    }
                    &:hover img{
                        transform: scale(1.05);
                        filter: opacity(.8);
                    }
                    transition: all .8s ease-in;
                }
            }
        }
        .credentials{
            padding-top: 12px;
            font-size: 12px;
            ul{
                list-style: none;
                li{
                    display: inline-block;
                    margin-right: 12px;
                }
            }
        }
    }
    a {
        color: #fff;
        text-decoration: none;
        &:hover {
            color: darken(#fff, .8);
        }
    }
}
#ShowRoomDirections, #credits{
    .modal-header{
        background: linear-gradient(to top right, rgba(43, 54, 144, 1), rgba(14, 24, 59, 1));
        color: #fff;
        button.close span{
            color: #fff;
        }
    }
    .modal-body{
        iframe{
            width: 100%;
        }
    }
}